.dashboard {
  padding: 20px;
  background-color: #f5f7fb;
}

.cards {
    display: "grid",
    gridTemplateColumns: "repeat(auto-fit, minmax(200px, 1fr))",
    gap: "20px",
    marginBottom: "20px"
 
}